<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page_title }} - {{ shop.name }}</title>

  {% if settings.favicon != blank %}
    <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
  {% endif %}

  {{ 'main.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}

  <!-- Alpine.js -->
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="bg-white text-black antialiased">
<main role="main" id="MainContent">
  {{ content_for_layout }}
</main>
</body>
</html>
